{% extends 'base.html'%}
{% block content %}


<style>
    body {

        /* background-color: rgb(125, 6, 125); */
        background-image: url('../static/images/back.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
     .form {
        margin-top: 20px;
        /* background-color: black; */
        width:50%;
    }
    body{

        background-color: rgba(199, 13, 199, 0.848);
    }
    form{
        align-items: center;
    }
    .page-header{
        /* color:rgb(56, 10, 98); */
        color:white;
        text-align: center;
    }
    .button{
        padding: 0.5em;
        background-color: blueviolet;
        border-radius:5px;
        color:white;
    }
</style>

   
<form action="" method="POST" class="form">
    {% csrf_token %}
    <!-- <div class="form">

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="username" aria-label="username">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Password" aria-label="Password">
            </div>
        </div><br><br>
        <center>
            <input type="submit" value="submit" class="btn btn-secondary">
        </center>
    </div> -->
    <div class="form">

        {{form.as_p}}
        <button type="submit">Submit</button>
    </div>
</form>
    </form>
{% endblock %}
