{% extends 'base.html' %}

{% block content %}
<style>
    body {

        /* background-color: rgb(125, 6, 125); */
        background-image: url('../static/images/back.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<!-- <div class="container">
    <div class="row">

        {% if usernames%}
        <h2 class="capitalize">{{ usernames|length }} {{message}} username found...</h2>
        {% else %}
        <h2> No username found {{message}}</h2>
        {% endif %}

    </div>
    <hr>
    <div class="row">
        <div class="container">
            <div class="card-columns">
                {% if username %}
                {% for name in username %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" class="img-fluid" src="{{image.image.url}}" size="100px200">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text"> {{name.username}}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
        {% endif %}
    </div>
</div> -->

<!-- <input type="text" placeholder="Search" name="q" value="{{ request.GET.q }}"> -->
{% if query %}
{% if results %}
<ul>
    {% for item in results %}
    <li>{{ item|escape }}</li>
    <p>{{item.username}}</p>

        {% if profile.name %}
        <img src="{{ profile.profile.name }}" alt="User Picture">
        {% endif %}
    {% endfor %}
</ul>

<p>Query returned no results.</p>
{% endif %}
{% endif %}

{% endblock %}